{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "tsconfigRootDir": "__dirname",
    "project": [
      "./tsconfig.eslint.json"
    ]
  },
  "env": {
    "browser": true,
    "amd": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "prettier/standard",
    "prettier/react",
    "plugin:prettier/recommended" // Make sure this is always the last element in the array.
  ],
  "plugins": [
    "simple-import-sort",
    "prettier"
  ],
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.tsx"
      ], // Your TypeScript files extension
      // As mentioned in the comments, you should extend TypeScript plugins here,
      // instead of extending them outside the `overrides`.
      // If you don't want to extend any rules, you don't need an `extends` attribute.
      "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
      ],
      "parserOptions": {
        "project": [
          "./tsconfig.json"
        ], // Specify it only for TypeScript files
      },
    },
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "jsxBracketSameLine": false
      },
      {
        "usePrettierrc": true
      },
    ],
    "no-unused-vars": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  },
}