.uploader__container {
  width: fit-content;
}
.uploader__placeholder {
  position: relative;
  background: whitesmoke;
  overflow: hidden;
  min-height: 100px;
  min-width: 100px;
}
.uploader__btn_wrapper {
  top: 4px;
  right: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  z-index: 1;
}
.uploader__btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.uploader__file_input_label {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.uploader__file_input_label:hover {
  cursor: pointer;
}
input.uploader__file_input {
  position: absolute;
  height: 0.1px;
  width: 0.1px;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

img.uploader__file {
  display: block;
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
}
